.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 20px;
}



.HeroTitle-Projects-Text h2 {
    margin: 0px;
}

.OurMission {
    display: flex;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 120px;

}

.MissionText {
    margin: auto;
}

.OurMission h1 {
    margin-bottom: 70px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.OurMission p {
    text-align: center;
    color: black;
}

.OurPillars {
    text-align: center;
    padding: 2rem;
    margin-bottom: 20vh;
}

.Pillars {
    margin-right: 7%;
    margin-left: 7%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.PillarCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
    .Pillars {
        flex-direction: column;
        align-items: center; /* Center cards when stacked */
    }

    .PillarCard {
        width: 90%; /* Make it more fluid on small screens */
        max-width: 400px;
    }
}

.PillarImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.PillarCard h2 {
    margin-top: 1rem;
    color: #333;
}

.PillarCard p {
    margin-top: 0.5rem;
    color: #555;
}
.OurPillars h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.OrganizationChart h1 {
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
.OrganizationChart img {
    width: 75%;
}
}

.Carousel img {
    width: 15vw;
}

.Carousel p {
    margin-right: 7%;
    margin-left: 7%;
    text-align: center;
    color: #34495e;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
