.BlogPage {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
  }
  
  h2 {
    color: #000000;
    margin-bottom: 20px;
  }

  .fullPageSection {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f0f0f0; 
}
  
  /* Research Section */
  .ResearchSection {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  }

  .CategoryButtonsDropDown {
    display: none;
  }

  
  .category-btn {
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin:20px;
  }
  
  .category-btn:hover {
    background-color: #000000;
    color: #fff;
  }
  
  .selected {
    background-color: #000000;
    color: white;
  }
  
  .ResearchPapersSection ul {
    list-style: none;
    padding: 0;
  }
  
  .ResearchPaperItem {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  .read-more-btn {
    padding: 8px 15px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .read-more-btn:hover {
    background-color: #000000;
  }
  
  /* Community Section */
  .CommunitySection {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    
  }    

  
  .CommunityBlogs ul {
    list-style: none;
    padding: 0;
  }
  
  .CommunityBlogItem {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  .SubmitBlog {
    background-color: white;   
    margin-top: 5vh; 
  }
  /* Educational Vi
  deos Section */
  .VideosSection {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  .VideosSection h1 {
    text-align: center;
    margin-bottom: 5%;
  }
  
  .VideoContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .VideoContainer iframe {
    border-radius: 10px;
  }

  iframe {
    width: 40vw;
    height: 35vh;
  }



/* Drop down menu after 1511 width */

@media screen and (max-width: 1511px) {
  .CategoryButtonsDropDown {
    display: block;
    margin-bottom: 20px;

  }

  .CategoryButtons {
    display: none;
  }

  .category-select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
  }

  }

