.BlogPage {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
  }
  
  h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
  }

  .fullPageSection {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f0f0f0; 
}
  
  /* Research Section */
  .ResearchSection {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
    align-items: center;
  }


  
  .category-btn {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin:20px;
  }
  
  .category-btn:hover {
    background-color: #000000;
    color: #fff;
  }
  
  .selected {
    background-color: #000000;
    color: white;
  }
  
  .ResearchPapersSection ul {
    list-style: none;
    padding: 0;
  }
  
  .ResearchPaperItem {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .read-more-btn {
    padding: 8px 15px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .read-more-btn:hover {
    background-color: #000000;
  }
  
  /* Community Section */
  .CommunitySection {
    margin-top: 30px;
    text-align: center;
  }
  
  .CommunityBlogs ul {
    list-style: none;
    padding: 0;
  }
  
  .CommunityBlogItem {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .submit-blog-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-blog-btn:hover {
    background-color: #218838;
  }
  
  /* Educational Videos Section */
  .VideosSection {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .VideosSection h1 {
    text-align: center;
    margin-bottom: 5%;
  }
  
  .VideoContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .VideoContainer iframe {
    border-radius: 10px;
  }

  
/* Responsive design */
@media (max-width: 768px) {
    section {
      margin: 10px;
      padding: 15px;
    }
  
    button {
      font-size: 12px;
      padding: 8px 12px;
    }
  
    form input,
    form textarea {
      font-size: 12px;
    }
  
    iframe {
      width: 100%;
      height: auto;
    }
}

