.container {
  margin: 0 auto; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 

}

.footer-col {
  flex: 1; 
  text-align: center;
  margin: 0 auto; 
  width: calc(100% - 320px); 
}

.footer-col:first-child {
  margin-left: 7%;
  text-align: left; 
}

.footer-col:last-child {
  margin-right: 7%;
  text-align: right; 
}


.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hring {
  margin: 0 auto; 
  width: calc(100% - 320px); 
}

.social-link i {
  margin: 0 10px; /* Add spacing between icons */
}

.contact-list i {
  color: black;
  margin-right: 8px; /* Add spacing between icon and text */
  
}

.RightsReserved {
  margin-right: 7%;
  margin-left: 7%;
  text-align: center;
}