.hackathon-resources {
    font-family: 'Roboto', sans-serif;
    max-width: 1800px;
    margin: 50px auto;
    padding: 20px;
    display: fle;
    background-color: #eefafc;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.resources-nav {
    text-align: center;
    margin-bottom: 40px;
}

.resources-nav h1 {
    font-size: 36px;
    color: #f39c12;
    margin-bottom: 15px;
}

.resources-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.resources-nav li {
    display: inline;
}

.resources-nav a {
    color: #f39c12;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s, transform 0.2s;
}

.resources-nav a:hover {
    color: #40a9ff;
    transform: scale(1.1);
}

/* Keep all common styles here */
.section {
    padding: 25px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Assign different background colors to each section */
.section.Datasets {
    background: #c9e5ff;
}

.section.DataScience {
    background: #c6fb76;
}

.section.AI {
    background: #fbf276;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #020202;
}

/* Paragraph styling remains unchanged */
.section p {
    text-align: center;
    font-size: 17px;
    margin-bottom: 15px;
    color: #000000;
}

/* List styling remains unchanged */
.section ul {
    list-style: none;
    padding: 0;
    color: #bbb;
}

/* List item styling remains unchanged */
.section li {
    font-size: 16px;
    margin-bottom: 10px;
    transition: color 0.2s;
}
.section li:hover {
    color: #f24444;
}


.dropdown-section {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-header {
    background-color: #f7f7f7;
    padding: 12px 16px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 8px 24px rgba(60, 76, 79, 0.2);
  }
  
  .dropdown-content {
    padding: 16px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
